:root {
  --primary-color: #2fe3b9;
  --secondary-color: #69c6b0;
  --secondary-background: #ccf5e7;
  --tertiary-color: #dd1c26;
  --light-grey: #928f8f;
}
body {
  font-family: 'Din Pro';
}
.container {
  width: 90%;
  margin: auto;
}
.right_align {
  text-align: end;
}
.colored {
  font-weight: 500;
  color: var(--primary-color);
}
.color_light {
  color: var(--light-grey);
}
.black_shadow {
  width: 100%;
  height: 99%;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
}
.top_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.top_heading a img {
  margin-top: 6px;
}
.card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
}
.card {
  width: 632px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px 0px rgba(168, 171, 170, 1);
}
.card_top {
  border: 1px solid #dfd4d4;
  border-bottom: none;
  border-radius: 2px 2px 0 0;
}
.card_top_img {
  position: relative;
}
.card_top_img img {
  width: 100%;
}
.card_top_banner {
  position: absolute;
  top: -18px;
  right: -0.5px;
  width: 170px;
  height: 35px;
  background-color: #68a7ff;
  clip-path: polygon(17% 0, 100% 0, 100% 100%, 17% 100%, 29% 50%);
  z-index: 2;
}
.card_top_banner p {
  text-align: center;
  margin-left: 45px;
  color: #fff;
  margin-top: 9px;
}
.rating_section {
  position: absolute;
  top: 30px;
  right: 10px;
  background: #f5a626;
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}
.rank_section {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 16px;
  left: 10px;
}
.rank_section span {
  padding: 5px 12px;
  background: white;
  border-radius: 20px;
  font-weight: 500;
  margin-right: 12px;
}
.rank_section_left {
  background: none !important;
  color: #fff;
}
.card_bottom {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dfd4d4;
  border-top: none;
}
.card_info_left {
  width: 70%;
}
.card_info_left_upper {
  margin-left: 8px;
}
.card_info_right {
  width: 30%;
}
.card_info_left h2 {
  margin: 5px 0;
}
.card_info_left .offer {
  background: var(--secondary-background);
  border-radius: 0 10px 10px 0;
  width: 320px;
}

.fees_section {
  margin-right: 15px;
}
.fees_section p:first-child {
  margin: 5px 0;
}
.fees_section .modified_fees {
  color: var(--tertiary-color);
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
.fees_section p:last-child {
  margin: 0;
}
.off_percent {
  background-color: var(--tertiary-color);
  width: 40px;
  margin-left: 2px;
  padding: 2px;
  color: #fff;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.original_fees {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  text-align: center;
}
@media only screen and (max-width: 1430px) {
  .card {
    width: 550px;
  }
}
@media only screen and (max-width: 1250px) {
  .card {
    width: 450px;
  }
}
@media only screen and (max-width: 1020px) {
  .card {
    width: 100%;
  }
  .card_info_right {
    position: relative;
  }
  .card_info_right_last {
    position: absolute;
    right: 12px;
  }
}
@media only screen and (max-width: 576px) {
  .rank_section span {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 468px) {
  .rank_section_left,
  .card_info_right_last {
    display: none;
  }
}
@media only screen and (max-width: 380px) {
  .card_info_left .offer {
    width: 100% !important;
  }
}
